@import "tailwindcss";

:root {
  --theme-background: #141314;
  --theme-light: #d3d5c4;
  --theme-dark: #777764;
  --header-height: 100px;
}

/* Theme classes for dynamic switching */
:root[data-theme="0"] {
  --theme-background: #141314;
  --theme-light: #d3d5c4;
  --theme-dark: #777764;
}

:root[data-theme="1"] {
  --theme-background: #503037;
  --theme-light: #e0bec5;
  --theme-dark: #81515c;
}

:root[data-theme="2"] {
  --theme-background: #363b26;
  --theme-light: #c4c9b2;
  --theme-dark: #5a6242;
}

:root[data-theme="3"] {
  --theme-background: #293d38;
  --theme-light: #b6cbc5;
  --theme-dark: #45645c;
}

:root[data-theme="4"] {
  --theme-background: #3c364c;
  --theme-light: #cbc3db;
  --theme-dark: #63597b;
}

@theme inline {
  --color-background: var(--theme-background);
  --color-light: var(--theme-light);
  --color-dark: var(--theme-dark);
  --font-mono: var(--font-pp-supply-mono);
  --font-bit: var(--font-pp-neue-bit);
}

@keyframes noise {
  0% {
    transform: translateZ(0);
  }
  10% {
    transform: translate3d(2rem, -9rem, 0);
  }
  20% {
    transform: translate3d(1rem, -4rem, 0);
  }
  30% {
    transform: translate3d(-8rem, -7rem, 0);
  }
  40% {
    transform: translate3d(5rem, 6rem, 0);
  }
  50% {
    transform: translate3d(-1rem, 8rem, 0);
  }
  60% {
    transform: translate3d(5rem, 2rem, 0);
  }
  70% {
    transform: translate3d(-8rem, -5rem, 0);
  }
  80% {
    transform: translate3d(6rem, 1rem, 0);
  }
  90% {
    transform: translate3d(9rem, 5rem, 0);
  }
  100% {
    transform: translate3d(0, -6rem, 0);
  }
}

.pt-header-height {
  padding-top: var(--header-height);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--theme-background);
  color: var(--theme-light);
  font-size: 13px;
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

main {
  height: 100dvh;
  font-family: var(--font-pp-supply-mono), Arial, Helvetica, sans-serif;
}

p {
  line-height: 1.25;
}

button {
  cursor: pointer;
}

.unicorn-container > a {
  display: none !important;
}

.archive-text {
  font-size: 16px;
}

@media (max-width: 1024px) {
  .archive-text {
    font-size: 13px;
  }
}
