@import "tailwindcss";

:root {
  --theme-background: #141314;
  --theme-light: #d3d5c4;
  --theme-dark: #777764;
  --header-height: 100px;
}

@theme inline {
  --color-background: var(--theme-background);
  --color-light: var(--theme-light);
  --color-dark: var(--theme-dark);
  --font-mono: var(--font-pp-supply-mono);
  --font-bit: var(--font-pp-neue-bit);
}

.pt-header-height {
  padding-top: var(--header-height);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

main {
  font-family: var(--font-pp-supply-mono), Arial, Helvetica, sans-serif;
}

body {
  background: var(--theme-background);
  color: var(--theme-light);
  font-size: 13px;
}

button {
  cursor: pointer;
}
